<% if @presences %>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="3">
                    <%= "du #{@presences["date_start"]}  #{@presences["date_end"]} - #{@presences["description"]}"%>
                </th>
            </tr>
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Présent</th>
            </tr>
        </thead>
        <tbody>
            <%@presences["students"].each do |student| %>
                <tr>
                    <td><%= student["id"] %></td>
                    <td><%= student["last_name"] %></td>
                    <td><%= student["first_name"] %></td>
                    <td class="present" data-event="<%= @presences["id"] %>" data-id="<%= student["id"] %>"><%= is_present?(student["id"], @presences["id"] ) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    pas d'évents
<% end %>